.uploadInput {
  &__iconAdd {
    color: #aaa;
  }
  &:hover &__iconAdd {
    color: #ddd;
  }
}

.pageTitle {
  &__iconGithub {
    opacity: 0;
    transition: opacity 0.26s;
  }
  &:hover &__iconGithub {
    opacity: 1;
  }
}

.immediatelyBlink {
  animation: immediatelyBlink 0.5s infinite;
}

@keyframes immediatelyBlink {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}